@using ReflectionIT.Mvc.Paging;
@model PagingList<InfinityTask.ViewModel.UserListVM>
@addTagHelper*,ReflectionIT.Mvc.Paging
@{
	ViewData["Title"] = "Users Display";
}
<div class="UserList__Div__Title">
	<h2>The User List</h2>
</div>
<form asp-action="Index" asp-controller="Home" method="get">
	<div class="col-lg-6 UserList__Form ">
		<div class="form-group">
			<input type="text" name="search" class="form-control" placeholder="search" />
			<button type="submit" class="btn btn-primary UserList__Form__Button">Search</button>
		</div>
	</div>
</form>
<table class="table table-striped">
	<thead>
		<tr>
			<th>
				Name
			</th>
			<th>
				Age
			</th>
			<th>
				Email
			</th>
			<th>
				Blogs
			</th>

			<th>
				View Profile
			</th>

		</tr>
	</thead>
	<tbody>

		@foreach (var v in Model)
		{
			<tr>
				<td>
					@v.FirstName @v.LastName
				</td>
				<td>
					@v.Age
				</td>
				<td>
					@v.Email
				</td>
				<td>
					@v.BlogNumber
				</td>
				<td>
					<a asp-controller="Home" asp-action="UserProfile" asp-route-UserId="@v.Id" id="ButtonAjax" class="btn btn-success">View</a>
				</td>


			</tr>

		}
</table>
@await this.Component.InvokeAsync("Pager", new { pagingList = this.Model })